/* generic HTML element styles */



body {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
	background-color: #f1eff0;
	color: #3c3c3c;
}


#cht body {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif;
}

ul {
	list-style: none
}

li {
	padding: 1px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

a {
	color: #780000;
}

a:hover {
	color: #C41414;
}

h1 {
	margin-top:0;
	margin-bottom: 0px;
	padding: 0px;
}

h2 {
	margin-top: 0;
	font-weight: lighter;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #dbd2d2;
	padding-top: .5em;
	padding-bottom: .5em;
}

h3 {
	margin-top: 1em;
	background: #780000;
	border-style: double;
	border-width:5px;  
	border-color: #dbd2d2;
	color: #FFFFFF;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
	width: 100%;
	display:inline-block
}

h5 {
	margin-top: 0;
	border-style: double;
	border-width:5px;  
	border-color: #dbd2d2;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
}



h6 {
	margin-top: 0;
   	margin-bottom: .4em;
	border-style: solid;
	border-width:0px 0px 1px 0px;  
	border-color: #dbd2d2;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
}

#en h1 {
	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
	font-size: 2.3em;
	letter-spacing: -2px;
	margin-bottom: -.2em;
}

#cht h1 {
	font-family: libre_baskervilleregular, 'Songti TC', PMingLiU-ExtB, 新細明體, serif;
}

#en .h1smaller {
	font-size: .75em;
	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
}

#chs .h1smaller {
	font-size: 1em;
	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
}

#cht .h1smaller {
	font-size: 1em;
	font-family: libre_baskervilleregular, 'Songti TC', PMingLiU-ExtB, 新細明體, serif;
}

#en h2 {
	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
	letter-spacing: 0.4em;
	font-size: 1.5em;
}

#chs h2 {
	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
	letter-spacing: 0.4em;
}

#cht h2 {
	font-family: libre_baskervilleregular, 'Songti TC', PMingLiU-ExtB, 新細明體, serif;
	letter-spacing: 0.4em;
}

#en h3 {
	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
	letter-spacing: 0.4em;
	font-size: 1em;
		margin-top: 1em;

}


#chs h3 {
	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
		margin-top: 1em;

}

#cht h3 {
	font-family: libre_baskervilleregular, 'Songti TC', PMingLiU-ExtB, 新細明體, serif;
		margin-top: 1em;

}

#cht h5{
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif
}

#cht h6{
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif
}

/* header classes */

.header {
	width:100%;
	border:0;
	margin: 0;
	padding: .5em;
}

.hamburger_item {
  width: 30px;
  height: 3px;
  background-color: #b7b7b7;
  margin: 6px 0;
}

.hamburger_menu {
	margin-top: 0;
	text-align:left;
}

.menu {
	list-style-type: none;
	margin: auto;
	width: 70%;
	padding: 0;
	margin-top:0;
	text-align: center;
	color: white;
}

.menu_item {
	color: #FFFFFF;
	border-bottom: 
}


a.menu_item {
	color: #FFFFFF;
	font-weight: 600;
}

.menu_titleblock {
	background-color: #FFFFFF;
	padding-top: 5px;
	margin-top:5px;
	text-align: center;
	margin-bottom: 10px;
}

.menu_title {
	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
	text-align: center;
	font-size: 1.5em;
	letter-spacing: -2px;
	padding: 0px;
}

#cht .menu_title {
	font-family: libre_baskervilleregular, 'Songti TC', PMingLiU-ExtB, 新細明體, serif;
}

.menu_subtext {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
	margin-top: 0px;
	padding-top: 0px;
	font-weight: 100;
	font-size: .9em;
}

#cht .menu_subtext {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif;
}

.menu_footer {
	background-color: #FFFFFF;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
}


.menu_hr {
	width: 50%;
	border-top: 1px solid white;
}


.clickable {
    cursor: pointer;
}

button.menu_close {
	color: white;
	font-size: 1.75em;
}

.banner_subtext {
	display: none;
}

.banner_right {
	display: none;
}

.banner_link {
	color: #3c3c3c;
	text-decoration: none;
}

.banner_link:hover {
	color: #3c3c3c;
	text-decoration: none;
}

.logo {
	width:30%;
	height: 30%;
	margin-top: 1.5em;
	float: right;
}

.logo_menu {
	width:20%;
	height: 20%;
	margin-top: 0;
	text-align: center;
}


.lng_text_menu {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
	font-size:  .75em;
	text-align: center;
	margin-top: 0;
}

#cht .lng_text_menu {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif;
}

.lng_text {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
	font-size:  .75em;
	text-align: right;
	margin-top: 3em;
	text-align: center !important;
}

#cht .lng_text {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif;
}

.title_box { 
  margin: 0 auto;
  background-color:#780000;
  border:0px;
  margin-top:.25em;
  margin-bottom:1em;
  width: 20%;
  height:2px;
}

.menu_modal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu_modal .modal-content {
  border-radius: 0;
  background-color:#780000;
  height: 100%;
}


.en_banner {
	display: none;
}

.chs_banner {
	display: none;
}

.cht_banner {
	display: none;
}

#en .en_banner {
	display: inline;
}

#chs .chs_banner {
	display: inline;
}

#cht .cht_banner {
	display: inline;
}


.en_lng {
	display: none;
}

.chs_lng {
	display: none;
}

.cht_lng {
	display: none;
}

#en .en_lng {
	display: inline-flex;
}

#chs .chs_lng {
	display: inline-flex;
}

#cht .cht_lng {
	display: inline-flex;
}

/* breakpoint changes for desktop viewing of banner */

.banner_logo {
	display:none;
}


@media (min-width: 768px){
 
	h1 {
	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
	margin-top: .5em;
	margin-bottom: 0px;
	font-size: 2.5em;
	letter-spacing: -2px;
	padding: 0px;
	}

	#cht h1 {
		font-family: libre_baskervilleregular, 'Songti TC', PMingLiU-ExtB, 新細明體, serif;
	}

	h3 {
	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
	margin-top: .25em;
	font-weight: lighter;
	letter-spacing: 0.4em;
	padding-top: .75em;
	padding-bottom: .75em;
}

	.banner_subtext {
	display: inline;
	font-family: Helvetica, Verdana, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
	margin-top: 0px;
	padding-top: 0px;
	font-weight: 100;
	font-size: 1em;
	padding-bottom: .75em;
	}

	#cht .banner_subtext {
		font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif;
	}

	.hamburger_item {
  	width: 40px;
  	height: 4px;
  	background-color: #b7b7b7;
  	margin: 8px 0;
	}

	.hamburger_menu {
		margin-top: 1.5em;
	}

	.logo {
		width:30%;
		height: 30%;
		margin-top: 1.5em;
		text-align: right;
		float: right;
	}


	.lng_text {
		font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
		font-size:  .75em;
		text-align: right;
		margin-top: 5em;
		text-align: right !important;
	}

	#cht .lng_text {
		font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif;
	}

	.banner_logo {
		display: block;
	}
 
}

/* end breakpoints for banner */

.clear {
	clear: both;
}


/* main landing page css */

.profiles_highlight {
	background-image: url("../profiles.jpg");
	object-fit: cover;
	max-width: 585px;
	padding: 0;
	margin: 0;
	border: 0;
}

.resources_highlight {
	background-color: #E8E8E8;
}

.resources_highlight a {
	color: #000000;
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;

}

.resources_highlight a:hover {
	color: #780000;
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
}

.resources_list {
	padding: 1em;
}

.landingpg {
	margin-top: 1em;
}


#headline-div {
  z-index: 200;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 15%;
}

 .landing_headline {
 	color: #FFFFFF;
 	border-bottom-style: solid;
 	border-color: #FFFFFF;
 	border-width: 2px;
 	font-size: 2em;
 	padding: .3em;
 	letter-spacing: .5em;
 	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
 }


 .landing_headline2 {
 	color: #FFFFFF;
 	font-size: 1.5em;
 	margin: 1em;
 	letter-spacing: .5em;
 }

/*
 #en, #chs .landing_headline2 {
 	font-family: libre_baskervilleregular, 'Songti SC', SimSun, 宋体, serif;
 }

 #cht .landing_headline2 {
	font-family: libre_baskervilleregular, 'Songti TC', PMingLiU-ExtB, 新細明體, serif;
 }



*/
/* profile landing page css */

.profileIntroTxt {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	font-size: 1em;
}

#cht .profileIntroTxt {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif;
}

.profileImg {
	height: 200px;
	width: 150px;
	min-height: 200px;
	max-width:150px;
}

.profilenoImg {
	font-family: STKaiti, 华文楷体, serif;
	font-size: 2.9em;
	text-shadow: 1px 1px 6px rgba(0,0,0,0.35);
	line-height: 1em;
	background-image: url('https://specialmediafiles.s3.amazonaws.com/profile_150/00_no_photo.jpg');
	padding-top: .65em;
}

.hovereffect {
  width: 160px;
  height: 210px;
  overflow: hidden;
  position: relative;
  background: #000000;
  border-radius: 3px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color:#000000;
  display: inline-block;
}


.overlay {
 width: 160px;
 height: 210px;
 position: absolute;
 overflow: hidden;
 top: 0;
 left: 0;
 opacity: 0;
 filter: alpha(opacity=0);
 padding-top: 8em;
 background: rgba(0, 0, 0, 0.6);
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

.profile_line {
	margin: 0 auto;
	width: 0%;
	height: 0px;
	background-color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover .profile_line {
	width: 60%;
	height: 1px;
}

.profile_caption {
	color: #FFFFFF;
	font-family: Helvetica, Verdana, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
	font-size: .8em;
	margin: 0px;
}

/* individual profile styles */

.bodytext {
	font-family: Helvetica, Verdana, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
	font-size: 1em;
	margin-top: 1em;
}

#cht .bodytext {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif;
}

.resources {
	padding:.2em;
}

.narrative_margin {
	margin-top: 5em;
}

.resources_box { 
  margin: 0 auto;
  background-color:#780000;
  border:0px;
  margin-top:.25em;
  margin-bottom:1em;
  width: 40%;
  height:2px;
}

.main_img_caption {
	font-family: Helvetica, Verdana, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', 微软雅黑, sans-serif;
	font-size: 1em;
	margin-top: 1em;
	color: #3c3c3c;
}

#cht .main_img_caption {
	font-family: Helvetica, Verdanda, 'Hiragino Sans GB', 'PingFang TC', 'Microsoft JhengHei', 微軟正黑, sans-serif;
}

.main_img_line { 
  margin: 0 auto;
  background-color:#3c3c3c;
  border:0px;
  margin-top: .25em;
  margin-bottom:.25em;
  width: 25%;
  height:1px;
}

.resources .card {
	display: flex;
	height: 100%;
	width: 100%;
}

.landingcard .card {
	margin-top: .25em;
}

.narrative {
	margin-top: 2em;
}

.card {
	background-color: #FFFFFF;
	margin-top: 2em;
}

.card_excerpt {
	text-align: left;
}


.quote {
	margin: 2em;
	padding:2em;
	text-align: left;
	font-style: italic;
	background-color:rgba(120, 0, 0, 0.1); 
}

#chs .quote{
	font-style: normal;
}

#cht .quote{
	font-style: normal;
}

.figure-caption {
	color: #0b0c0c;
}


/* narrative styles */

.narrative_resources {
	margin-bottom: 2.5em;
}


@media (min-width: 768px){

	.embed_media {
		max-width: 50%;
		min-width: 50%;
		float: right;
		margin-left: 1em;
		margin-bottom: 1em;
	}
}

/* footer styles */

.footer {
	margin-top: 2em;
	padding: 1em;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #dbd2d2;;
	text-align: center;
}

.footer-left .footer-center .footer-right {
	text-align: center;
}

.twitter {
	height: 48px;
	width: 48px;
	margin: 0;
}

.facebook {
	height: 32px;
	width: 32px;
	margin: 0;
}

/* breakpoints for footer */
@media (min-width: 768px){
	.footer-left {
		margin-top: 1.5em;
		text-align: left;
	}

	.footer-center {
		text-align: center;
	}


	.footer-right {
		margin-top: 1.5em;
		text-align: right;
	}


}

.landingpg_block {
	margin-bottom: .75em;
}


.vid_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-primary {
 background-color: #780000;
 margin-top: 1.5em;
 border-color: #000000;
}

.btn-primary:hover {
	background-color: #C41414;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    background-color: #343a40;
    padding: 1.25rem;
}